.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btnPad {
  padding: 5px;
  margin-left: 50px;
  margin-top: 30px;
}
.btnClr {
  background-color: rgb(202, 201, 201);
  border-radius: 5px;
}
.btnPad2 {
  border-radius: 5px;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: -25px;
  margin-left: 200px;
}

.btn2 {
  margin-top: 25px;
}
.card {
  margin-top: 80px;
  margin-bottom: 25px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-group {
  padding: 10px;
}
.card-title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.form-group {
  margin-bottom: 1rem;
}
input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  width: 500px;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff; /* Change the border color on focus */
  box-shadow: none; /* Remove the default box shadow on focus */
}

button[type="submit"] {
  border: none; /* Remove the default border */
  /* Round the corners of the button */
  box-shadow: none; /* Remove the default box shadow */
}

button[type="submit"]:hover {
  background-color: #0069d9; /* Change the button background color on hover */
}
