<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Login</h2>
          <form #loginForm="ngForm" (ngSubmit)="loginNative($event)">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                [(ngModel)]="email"
                name="email"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                [(ngModel)]="password"
                name="password"
                class="form-control"
                required
              />
              <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn2">
                  Login
                </button>
              </div>
            </div>
            <p style="text-align: center">-Or-</p>
            <div class="form-group d-flex justify-content-center">
              <div class="btnContainer">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="loginSaml('MSC')"
                >
                  Login via MSC
                </button>
              </div>
            </div>
            <div class="form-group d-flex justify-content-center">
              <div class="btnContainer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="loginSaml('Kennametal')"
                >
                  Login via Kennametal
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
